:root {
  --bg-color: #000;
  --text-color: #00cc14;
  --bg-image: repeating-linear-gradient(2px, red, 2px, transparent);
  --base-font-size: 18px;
  --max-page-inline-size: 1440px;
  --min-page-inline-size: 360px;
  --base-font: 'Inter Variable', 'Arial', sans-serif;
  --accent-font: 'PressStart2P', courier, fantasy;
  --accent-font-weight: 785;
  --base-font-weight: 465;
}
