@use './animations.scss';

.theme-menu {
  &__list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  &__button {
    position: relative;
    padding: 0;
    font-size: 14px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.6;
      pointer-events: none;

      &::after {
        content: '▶';
        position: absolute;
        top: 0;
        left: -20px;
        animation: move-arrow 1.3s infinite ease-in-out;
      }
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: currentColor;
      transition: width 0.3s ease-in-out;
    }

    &:focus-visible {
      outline: none;
      opacity: 0.6;
      transition: opacity 0.3s ease-in-out;

      &::before {
        width: 100%;
        opacity: 0.6;
      }
    }
  }
}
