@use 'mixins';

.dialog-floppy {
  align-items: center;
  grid-template-columns: 39px 1fr;
  max-inline-size: 360px;
  gap: 30px 20px;
  background-color: var(--bg-color, #fff);
  padding: 30px;

  &__paragraf {
    font-size: var(--small-font-size, 14px);
    font-family: var(--accent-font, sans-serif);
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--text-color, currentColor);
  }

  &__button_close {
    grid-column: span 2;
    @include mixins.button;
    text-transform: uppercase;
  }
}
