@keyframes scale-heart {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes spark-visible {
  0% {
    fill: transparent;
  }

  100% {
    fill: var(--accent-color-2);
  }
}
