@mixin content-size {
  inline-size: var(--content-size, 80%);
}

@mixin button {
  color: var(--mix-blend-color, currentColor);
  font-family: var(--accent-font, sans-serif);
  font-size: var(--small-font-size, 14px);
  background-color: var(--main-color, transparent);
  border: none;
  padding: 0;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}
