@mixin content-size {
  inline-size: var(--content-size, 80%);
}

@mixin button {
  color: var(--text-color, currentColor);
  font-family: var(--accent-font, sans-serif);
  font-size: var(--small-font-size, 14px);
  background-color: var(--bg-color, transparent);
  border: 2px solid var(--text-color, currentColor);
  padding: 10px 20px;
  cursor: pointer;

  &::first-letter {
    text-transform: uppercase;
  }
}
