extends ./layouts/default

block variables
  - var title = 'Закрывающий тег';
  - var faviconIco = '/images/favicon.svg';
  - var faviconSvg = '/images/favicon.svg';

block content
  include ./components/header/header.pug
  main
    section.content-section
      include ./components/cards/cards.pug
