extends ./layouts/default

block variables
  - var title = 'Главная страница';
  - var faviconIco = '/img/favicon/favicon.ico';
  - var faviconSvg = '/img/favicon/favicon.svg';
  - var pageStylesheet = '/pages/index.css';

block content

 