extends ./layouts/default

block variables
  - var title = "Закрывающий тег";
  - var faviconIco = "/img/favicon/favicon.ico";
  - var faviconSvg = "/img/favicon/favicon.svg";

block content
  include ./components/header/header.pug
